@import "tailwindcss";


.hrdi-search-container{
    @apply flex items-center gap-2 justify-start border-b border-gray-100 px-4 shadow-xs;
}
.hrdi-search-input-wrapper {
    @apply relative flex-1;
}
.hrdi-search-icon {
    @apply text-2xl;
}
.hrdi-search-input-wrapper input {
    @apply w-full border-0  border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-0;
}
.hrdi-select-value-container {
  @apply flex items-center gap-2 ;
}
.hrdi-select-dropdown {
    @apply w-full bg-white pb-4 shadow-lg rounded-xs border border-gray-100;
} 

.hrdi-select-option {
    @apply px-4 py-2 cursor-default;
}

.hrdi-select-value-label {
    @apply flex gap-0.5 justify-start items-center;
}

.hrdi-select-value-selected-item {
    @apply flex justify-start items-center gap-1 bg-gray-100 rounded-full px-2 py-1;
}
.hrdi-select-value-btn-remove {
    @apply rounded-full bg-transparent border border-gray-800 text-gray-800 h-3 w-3 leading-0 flex hover:opacity-75 overflow-hidden items-center justify-center;
}

.hrdi-select-value-btn-remove-icon {
    @apply -mt-px;
}

[data-highlighted="true"] {
  @apply bg-emerald-50;
}

.hrdi-search-btn-clear {
    @apply rounded-full bg-gray-400 text-white h-4 w-4 leading-0 flex hover:opacity-75 overflow-hidden items-center justify-center;
}
.hrdi-search-btn-clear span {
    @apply -mt-0.5;
}